.layout-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto;
    grid-template-rows: auto 1fr;
    height: 100vh;
    transition: grid-template-columns 0.4s ease-in-out;
    overflow: hidden;

    .layout-main-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        transition: width 0.4s ease-in-out;
    }

    .layout-main {
        flex: 1;
        padding: 1rem;
        background-color: var(--content-bg);
        transition: margin-left 0.4s ease-in-out;
        overflow-y: auto;
        overflow-x: hidden;
    }

    // Si el sidenav está oculto
    &.sidenav-hidden {
        grid-template-columns: 0 auto;

        .layout-main {
            margin-left: 0;
        }
    }
}
